body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .flexbox{
    display: flex;  
    align-items: baseline;
    
  }

.item{
  margin-left: 15%;
}